@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* tags */

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 60px;
  line-height: 78px;
}

h2 {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

p {
  color: #333333;
}

ul {
  list-style: none;
}

a {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
}



/* classes */

.main-navigation-item {
  font-size: 20px;
}

.main-navigation-item-active {
  border-bottom: 2px solid #756257; /*пока не флекс, на всю ширину*/
}

.button {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
}

.button-main {
  background-color: #756257;
}

.button-additional {
  background-color: #82b3d3;
}

.button-choosen {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

.button-navigation, .button-hotel-item {
    font-size: 16px;
    line-height: 20px;
}

.button-booking, .button-subscribe {
    font-size: 20px;
    line-height: 36px;
}

.hero {
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages-item-gray,
.features-item-house,
.features-item-present {
  background-color: #e6f0f6;
}

.advantages-item-content {
  background-color: #82b3d3;
  color: #fff;
}

.advantages-title {
  text-align: center;
  color: #000;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.advantages-text,
.features-text,
.booking-text,
.subscribe-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-title,
.features-item-title,
.booking-title {
  text-align: center;
}

.advantages-item-text,
.features-item-text {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-text-content,
.features-item-text-content,
.subscribe-text-with-background {
  color: #fff;
}

.features-title {
  text-align: center;
}

.booking,
.subscribe {
  text-align: center;
}

.subscribe-email {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    height: 52px;
}

.subscribe-with-background {
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hotels {
  background-image: url("../images/backgrounds/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hotels-filter-range {
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.catalog-to-home-link {
  color: #fff;
}

.hotels-list-item-title {
  text-transform: capitalize;
}

.hotels-filter-item-rating {
  text-transform: uppercase;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
}

.pagination-item {
  background-color: #82b3d3;
}

.pagination-item-current {
  background-color: #f2f2f2;
}

.pagination-link {
  color: #fff;
}

.pagination-link-current {
  color: #000;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  display: flex;
}

.social-item {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.vk {
  background-image: url("../images/logos/vk.svg");
}

.telegram {
  background-image: url("../images/logos/telegram.svg");
}

.youtube {
  background-image: url("../images/logos/youtube.svg");
}
